* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header Section Styles */

.header-section h1 {
    margin-top: 1.5rem;
    font-size: 50px;
    font-weight: bold;
}

.navbar-nav li:hover {
    background-color: #ffffff;
}

.navbar-nav li a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding: .5rem 2rem;
}

.navbar-nav li:hover > a {
    color: #292b2c;
}

.navbar-nav li a:hover {
    color: #292b2c;
}

.nav-item_active {
    background-color: #ffffff;
}

.nav-link_active {
    color: #000000 !important;
}

.cart-log {
    position: absolute;
    top: -8px;
    left: 50%;
    background-color: #F80909;
    color: #ffffff;
}

/* Cart Section Styles */

.cart-section tbody > tr {
    border-bottom: 1px solid black !important;
}

.cart-section table td {
    vertical-align: middle;
}

.cart-section h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.cart-section h5 {
    font-size: 20px;
    font-weight: bold;
}

.cart-section label {
    font-size: 14px;
}

.cart-section .cart-total-wrapper, .cart-total_mobile {
    display: none;
    font-weight: bold;
}

.cart-section span {
    font-size: 14px;
}

.fa:hover {
    cursor: pointer;
}

.cart-title {
    background: #F9FBF2;
    box-shadow: 0px 3px 6px rgba(201, 204, 219, 0.08);
    border-radius: 2px;
}

.cart-total {
    font-size: 18px;
    font-weight: bold;
}

.cart-summary {
    background: #F9FBF2;
    box-shadow: 2px 6px 6px rgba(151, 151, 151, 0.2);
}

.cart-summary form > div {
    margin: 3rem 0;
}

.cart-summary h4 {
    font-size: 24px;
    font-weight: bold;
}

.cart-summary label {
    font-size: 18px;
    font-weight: bold;
}

.cart-summary span {
    font-size: 18px;
}

/**************************************************
    * @media queries *
***************************************************/

@media only screen and (max-width: 992px) {

    .header-section h1 {
        margin-top: 0;
        font-size: 35px;
        font-weight: bold;
    }

    .cart-section h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 20px;
        text-align: center;
    }

    .cart-summary form > div {
        margin: 2rem 0;
    }

    .cart-section .cart-total-wrapper, .cart-total_mobile {
        display: inline-block;
    }

    .cart-title {
        background: #ffffff;
    }

    .table-header {
        display: none;
    }

    .cart-section img {
        height: 100px !important;
        width: 100px !important;
    }

    .cart-section table td {
        padding: 5px;
    }

    .cart-section h5 {
        font-size: 14px;
        font-weight: bold;
    }

    .cart-section .cart-total {
        display: none;
    }

    .cart-section label, span, i {
        font-size: 12px !important;
    }

    .btn-delete {
        position: absolute;
        top: 5px;
        right: 0px;
    }

    .cart-summary h4, label {
        font-size: 16px;
    }
}